---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import MainCard from '../components/MainCard.svelte'
---
<head>
    <meta charset="UTF-8">
</head>
<body>
    <main>
        <div class="background_">
            <MainCard/>
        </div>
    </main>
    <style>
        body{
            margin: 0;
            height:100dvh;
        }
        .background_{
            background-color: rgb(65 ,65 ,65);
            height:100dvh;
            
        }
    </style>
</body>
